{% extends "admin_base.html" %}
{% block title %}Extra Service{% endblock %}
{% block content %}
    <div class="content-wrapper">
  <section class="content-header">
    <h1>
        Extra Service
    </h1>
  </section>

  <section class="content">
    <div class="row">
                        <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-body box-profile">
            <h3 class="pull-left">
                New Service
            </h3>
            <div class="row">
              <div class="col-md-12">
                 <form name="newserviceform" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" class="form">
                    {% csrf_token %}
                     <div class="form-group col-md-12">
                         <label for="eng_service_name">English Name<span id="name_error" style="color: red;"></span> </label>
                         <input type="text" name="eng_service_name" class="form-control" placeholder="Enter service name in English" required/>
                     </div>
                      <div class="form-group col-md-12">
                         <label for="unicode_service_name">Unicode Name<span id="name_error" style="color: red;"></span> </label>
                         <input type="text" name="unicode_service_name" class="form-control" placeholder="Enter service name in Myanmar-Unicode" required/>
                     </div>
                      <div class="form-group col-md-12">
                         <label for="zawgyi_service_name">ZawGyi Name<span id="name_error" style="color: red;"></span> </label>
                         <input type="text" name="zawgyi_service_name" class="form-control" placeholder="Enter service name in Myanmar-ZawGyi" required/>
                     </div>
                      <div class="form-group col-md-12">
                         <label for="chinese_service_name">Chinese Name<span id="name_error" style="color: red;"></span> </label>
                         <input type="text" name="chinese_service_name" class="form-control" placeholder="Enter service name in Chinese" required/>
                     </div>
                     <div class="form-group col-md-12">
                         <a href="{% url 'extra_service' %}"class="btn btn-default pull-left">Back</a>
                <input type="submit" class="btn btn-success pull-right" value="Add Service"/>
                     </div>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
    <script>
        $('#citytable').dataTable(
        );
    </script>
     <script>
    function validateForm() {
    var check=true;
    var eng_name = document.forms["newservice"]["eng_service_name"].value;
    var uni_name = document.forms["newservice"]["unicode_service_name"].value;
    var zg_name = document.forms["newservice"]["zawgyi_service_name"].value;
    var chinese_name = document.forms["newservice"]["chinese_service_name"].value;

    if (eng_name == "") {
        alert("English name is required");
        check=false;
    }
    if (uni_name == "") {
        alert("Myanmar-Unicode name is required");
        check=false;
    }
    if (zg_name == "") {
        alert("Myanmar-Zawgyi name is required");
        check=false;
    }
    if (chinese_name == "") {
        alert("Chinese name is required");
        check=false;
    }

    return check;
}
    </script>
{% endblock %}