{% extends "admin_base.html" %}
{% block title %}Drivers{% endblock %}
{% block content %}
    <div class="content-wrapper">
  <section class="content-header">
    <h1>
        Drivers
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body box-profile">
            <h3 class="pull-left">
                Driver List
            </h3>
            <h3 class="pull-right">
                <a href="{% url 'add_driver' %}" class="btn btn-success"> New Driver Info</a>
            </h3>
            <div class="row">

              <div class="col-md-12">
               {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                          </div>
                    {% endfor %}
                {% endif %}
                <table class="table table-bordered table-striped table-hover table-responsive" id="extra_service_table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Unicode Name</td>
                    <td>ZawGyi Name</td>
                    <td>Chinese Name</td>
                    <td>Active</td>
                </tr>
                </thead>
                <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.name }}</td>
                <td>{{ driver.unicode_name }}</td>
                <td>{{ driver.zawgyi_name }}</td>
                <td>{{ driver.chinese_name}}</td>
                <td>{{ driver.active}}</td>
            </tr>
            {% endfor %}
                </tbody>
        </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
    <script>
        $('#extra_service_table').dataTable(
        );
    </script>
{% endblock %}